.stack {
    display: flex !important;
    flex-direction: row !important;
}
.cardBody,
.footer {
    padding: 5px !important;
}

.headerText {
    text-align: left;
}

.text {
    text-align: justify;
}

.footer {
    flex-direction: column !important;
}

ul div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
ul {
    width: 100%;
}
.spanDate {
    width: 310px;
    font-size: 17px;
}
*{
    font-family: 'Advent Pro', sans-serif;
}
div {
    font-family: 'Advent Pro', sans-serif;
}
ul div {
    text-align: left;
}
