/* ApiStatisticComponent.module.css */

.api-statistic {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  text-align: center;
}

.api-statistic h2 {
  font-size: 35px;
  margin-bottom: 16px;
  font-family: 'Advent Pro', sans-serif;
  text-decoration: underline #3d3f9d;
}

.api-statistic p {
  font-size: 25px;
  margin: 8px 0;
  font-family: 'Advent Pro', sans-serif;
}
