.modalBackground {
  display: flex;
  justify-content: space-between;
  min-width: 700px;
  width: 100%;
}

.modalBackground ul {
  display: flex;
  justify-content: space-between;
  width: 1550px;
}

.modalBackground ul li {
  border-bottom: 0px solid !important;
}

/* .modalContent {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
}

.modalCloseButton {
  cursor: pointer;
  font-size: 20px;
} */
.btnFilter{
  padding: 10px;
  border: 1px solid black;
}
/* .ule li:nth-child(1) {
  width: 98px;
}
.ule li:nth-child(2) {
  width: 49px;
  margin-right: 400px;
} */
.ule li:nth-child(2) {
  width: 50px;
  margin-right: 109px;
} 
.ule li:nth-child(3) {
  width: 119px;
  margin-left: -85px;
} 

