/* ClientList.module.css */

.mainClientList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalSerchTrue {
  display: block;
  /* Добавьте стили для отображения модального окна поиска */
}

.modalSerchFalse {
  display: none;
  /* Добавьте стили для скрытия модального окна поиска */
}

.serchClient {
  /* Добавьте стили для контейнера модального окна поиска */
}

input[type='text'] {
  /* Добавьте стили для текстового поля в модальном окне поиска */
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.button {
  /* Добавьте стили для кнопок в модальном окне поиска */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.containerClients {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Добавьте стили для контейнера, содержащего карточки клиентов */
}

/* Стили для кнопки сброса фильтров */
button[type='button'] {
  /* Добавьте стили для кнопки сброса фильтров */
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.containerSize {
  max-width: 1800px;
}

/* Добавьте стили для NavBar и Client компонентов, если необходимо */
