/* ClientList.module.css */

.mainClientList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalSerchTrue {
  display: block;
  /* Добавьте стили для отображения модального окна поиска */
}

.modalSerchFalse {
  display: none;
  /* Добавьте стили для скрытия модального окна поиска */
}

.serchClient {
  /* Добавьте стили для контейнера модального окна поиска */
}

.buttonSent {
  /* Добавьте стили для кнопок в модальном окне поиска */
  background-color: green;
  width: 80px;
  height: 50px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}
.buttonClose {
  /* Добавьте стили для кнопок в модальном окне поиска */
  background-color: #E53E3E;
  width: 80px;
  height: 50px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.inputSerch{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
  padding: 7px;
}

.containerClients {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Добавьте стили для контейнера, содержащего карточки клиентов */
}

/* Стили для кнопки сброса фильтров */
button {
  /* Добавьте стили для кнопки сброса фильтров */
  padding: 10px 20px;
  color: #000000;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.containerSize {
  max-width: 1800px;
}

/* Добавьте стили для NavBar и Client компонентов, если необходимо */
.btnReset{
  margin-top: 15px;
  padding: 15px;
  border: 1px solid black;
}