.mainComments{
    border: 2px solid rgb(0, 0, 0);
    padding: 15px;
    margin: 15px;
}
.writeComment{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 15px;
}
.writeComment textarea{
    margin: 0 15px 0 15px;
    width: 250px;
    height: 70px;
    font-size: 25px;
}
.btnPublish{
    text-align: center;
    width: 140px;
    height: 50px;
    border: 1px solid black;
} 
.inputComment{
    padding: 5px;
    font-size: 30px;
}
.writeComment h2 {
    font-size: 30px;
}
