.mainInfo{
    border: 2px solid white;
    border-radius: 15px;
}
.secondRow{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.secondRow h2{
    margin: 2px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
}